#root {
  height: fit-content;
  display: grid;
}

body {
  font-family: system-ui;
  background-color: #222;
  color: #fff;
  text-align: center;
}

.title {
  align-self: center;
  text-decoration: underline;
  font-style: italic;
}

.container {
  display: grid;
  place-items: center;
}

.box {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  width: fit-content;
  max-width: 50%;
}

.box-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.winnerText {
  text-transform: uppercase;
  text-decoration: underline;
  font-style: italic;
}

.reset {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.75rem;
  background-color: #000;
  color: #fff;
  transition: all 0.5s;
}

.reset:hover {
  box-shadow: -2.5px 2.5px rgba(128, 128, 128, 0.25);
  transform: translateY(-1px);
}
